@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.primary {
  @apply text-[#004E59] dark:text-[#004E59];
}

.secondary {
  @apply text-[#1AAEBA] dark:text-[#1AAEBA];
}

.bg-primary {
  @apply bg-[#004E59] dark:bg-[#004E59];
}

.bg-secondary {
  @apply bg-[#1AAEBA] dark:bg-[#1AAEBA];
}

.row {
  margin: 0px 5rem !important;
}

@media (max-width: 768px) {
  .row {
    margin: 0px 0rem !important;
  }
}


.slick-next {
  right: -20px;
  
  z-index: 10;

}


.slick-prev {
  left: -30px;

  z-index: 10;
}


.slick-prev:before,
.slick-next:before {
  color: #004E59 !important;
  font-size: 35px !important;
}

@media (max-width: 768px) {

  .slick-prev,
  .slick-next {
    display: block;

    top: 40%;

  }

  .slick-prev {
    left: 5px;
  }

  .slick-next {
    right: 20px;
  }
}



.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.scrollbar-hide {
  -ms-overflow-style: none;

  scrollbar-width: none;

}